include common/_mixins
include common/_settings
block variables

doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        meta(content="ie=edge" http-equiv="x-ua-compatible")
        meta(content="width=device-width, initial-scale=1" name="viewport")

        title Portfolio | #{title}
        link(rel='stylesheet' href='css/vendor.min.css')
        link(rel='stylesheet' href='css/main.css')
    body
        .wrapper
            //- heeader
            header.header
                .round
                    .round__1
                    .round__2
                .container
                    .header__wrap
                        .header__menu-btn
                            +icon('menu', 'menu__btn')
                        .header__tel
                            a(href='tel:+7(925)455-25-25').tel.clickable-phone
                                +icon('tel', 'tel__svg tel__svg_g')
            //- pages
            .page
                block content

            //- footer
            footer.footer
                .container
                    .about
                        .about__title О компании
                        .about__desc Основная задача нашего проекта – сделать процесс записи к врачу максимально прозрачным, удобным и быстрым. Ежедневно команда экспертов своего дела, старается сделать невозможное для того, чтобы у наших пациентов была возможность получать только самые качественные услуги от высококвалифицированных специалистов.

                .fnav
                    .fnav__top
                        .fnav__list
                            each i in menu
                                a(href=i.href class=i.dopClass).fnav__item= i.title
                    //- call
                    .fnav__call
                        .fnav__call-text Записаться на прием
                        .fnav__call-tel
                            a(href='tel:+7(925)455-25-25').tel.clickable-phone
                                +icon('tel', 'tel__svg')
                                .tel__title + 7 (925) 455 25 25

                .copy © Все права защищены
    .debug
        div
            div
                div
                div
                div
                div
                div
                div
                div
                div
                div
                div
                div
                div
                div
                div
                div
                div
                div
                div
                div
                div




    //- stick
    .stick
        button(type='button').stick__close
            +icon('close', 'stick__svg')
        a(href='tel:+7(925)455-25-25').stick__tel
            +icon('tel', 'stick__tel-svg')
            .stick__tel-right
                .stick__tel-desc Записаться на прием
                .stick__tel-title + 7 (925) 455 25 25

    //- nav
    nav.nav
        //- top
        .nav__top
            .nav__close
                +icon('arr', 'nav__close-arr')
                .nav__close-text Меню

        //- bottom
        .nav__bottom
            //- list
            .nav__list
                each i in menu
                    a(href=i.href class=i.dopClass).nav__item= i.title


            .nav__footer
                //- call
                .nav__call
                    .nav__call-text Записаться на прием
                    .nav__call-tel
                        a(href='tel:+7(925)455-25-25').tel.clickable-phone
                            +icon('tel', 'tel__svg tel__svg_w')
                            .tel__title + 7 (925) 455 25 25
                //- socials
                .nav__socials
                    .nav__socials-title Напишите нам
                    .socials
                        a(href='https://wa.me/79254552525' target='_blank').social
                            img(src='images/icons/wapp.svg').social__img
                        a(href='https://vk.com/' target='_blank').social
                            img(src='images/icons/vk.svg').social__img
                        a(href='viber://chat?number=79254552525' target='_blank').social
                            img(src='images/icons/viber.svg').social__img

    //- popup
    .popup
    //- rev
    div(hidden=true).template#rev
        form.rev.form
            //- top
            .form__top
                .form__title Оставить отзыв
                button(type='button').form__close
                    +icon('close', 'form__close-svg')

            //- bottom
            .form__bottom
                //- rating
                .form__rating
                    .rating
                        .rating__wrapper
                            each i in [5,4,3,2,1]
                                input(type='radio' name='rating' value=i id='form-rating-' + i).rating__input
                                label(for='form-rating-' + i).rating__star
                                    +icon('star', 'rating__star-svg')



                //- fields
                .form__fields
                    .form__field
                        textarea(name='revComment' placeholder='Текст вашего отзыва').input.input_area
                    .form__field
                        input(type='text' name='revName' placeholder='Имя*' required=true).input
                    .form__field
                        input(type='tel' name='renTel' placeholder='+7 (___) ___ - __ - __').input
                    .form__field
                        input(type='text' name='revDate' placeholder='Дата рождения*').input
                //- policy
                .form__policy
                    | Заполняя данную форму Вы соглашаетесь
                    br
                    | с&nbsp;
                    a(href='#').form__policy_u Политикой обработки персональных данных

                //- g-recaptcha
                .form__recaptcha
                    div(id="recaptcha")
                //- submit
                button(type='submit').form__submit ОТПРАВИТЬ
                input(type='hidden' name='action' value='addRev')
    //- add
    div(hidden=true).template#add
        form.add.form
            //- top
            .form__top
                .form__title Добавить клинику
                button(type='button').form__close
                    +icon('close', 'form__close-svg')

            //- bottom
            .form__bottom
                .form__block
                    .form__subtitle Расскажите о клинике
                    //- fields
                    .form__fields
                        .form__field
                            input(type='text' name='addTitle' placeholder='Название').input
                        .form__field
                            input(type='text' name='addSite' placeholder='Сайт').input
                        .form__field
                            input(type='text' name='addCity' placeholder='Город').input
                        .form__field
                            input(type='text' name='addAddr' placeholder='Адрес').input
                .form__block
                    .form__subtitle Расскажите о себе
                    //- fields
                    .form__fields
                        .form__field
                            input(type='text' name='addName' placeholder='ФИО').input
                        .form__field
                            input(type='text' name='addProf' placeholder='Должность').input
                        .form__field
                            input(type='tel' name='addTel' placeholder='Телефон').input
                        .form__field
                            input(type='email' name='addEmail' placeholder='E-mail').input



                //- policy
                .form__policy
                    | Заполняя данную форму Вы соглашаетесь
                    br
                    | с&nbsp;
                    a(href='#').form__policy_u Политикой обработки персональных данных

                //- g-recaptcha
                .form__recaptcha
                    div(id="recaptcha")
                //- submit
                button(type='submit').form__submit ОТПРАВИТЬ
                input(type='hidden' name='action' value='addClinic')

    script(src='js/vendor.min.js')
    script(async=true defer=true src='https://www.google.com/recaptcha/api.js')
    script(src='js/main.min.js')
